body {
    background-color: aqua;
}

/*CARD TRANSFORM*/
.card {
    margin: 20px;
    height: 275px;
    width: 183px;
    border-radius: 7%;
    position: relative;
    display: inline-block;
    perspective: 1000;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7%;
    backface-visibility: hidden;
    transition: 1s;
}

.front {
    background-color: rgba(250,250,250,1);
    display: grid;
    transform: rotateY(180deg);
}

.back {
    background-color: orange;
}

.card:hover .front {
    transform: rotateY(360deg);
}

.card:hover .back {
    transform: rotateY(180deg);
}

/*CARD'S CONTENT*/

.front p {
    font-size: 50px;
    margin: 10px;
}

.front p:nth-child(2) {
    text-align: center;
    margin: 0;
    font-size: 80px;
}

.front p:nth-child(3) {
    transform: rotateX(180deg) rotateY(180deg);
}

/* RED CONTENT */

.red {
    color: red;
}
